// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('//db.onlinewebfonts.com/c/938a9833b7244d806eca3349487c68ba?family=Phetsarath+OT');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    background-color: #111;
    font-family: 'Phetsarath OT';
}
.w-5em{
    width: 3em;
}
.rotate-180{
    transform: rotateZ(180deg);
}
.flex-1{
    flex: 1;
}
.cursor-pointer{
    cursor: pointer;
}
.swal-custom, .swal-custom .swal-text{
    background-color: #343a40 !important;
    color: white !important;
}
.font-2{
    font-size: 1.5em;
}
